@import '../node_modules/bootstrap/scss/bootstrap.scss';

header {
    background-color: rgb(34, 116, 167);
    padding: 20px 0px;

    ul {
        margin-bottom: 0px;

        a {
            text-decoration: none;
            color: #fff;

            &:hover {
                font-weight: 700;
            }
        }
    }
}